.app-container {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.calculator-container {
  width: 300px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 10px 10px 20px #c9c9c9, -10px -10px 20px #ffffff;
  padding: 20px;
  border-radius: 20px;
}
.display {
  background-color: #333;
  color: white;
  font-size: 2.5rem;
  text-align: right;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: inset 5px 5px 10px #292929, inset -5px -5px 10px #3d3d3d;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: #ff7f50;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff6347;
}

.clear-btn {
  background-color: #ff4d4d;
}

.clear-btn:hover {
  background-color: #ff1a1a;
}

.del-btn {
  background-color: #ffcc00;
}

.del-btn:hover {
  background-color: #e6b800;
}


@media (max-width: 400px) {
  .calculator-container {
    width: 100%;
    padding: 10px;
  }

  .button {
    padding: 15px;
    font-size: 1.2rem;
  }

  .display {
    font-size: 2rem;
  }
}
